$background-color: linear-gradient(to right, #5d5fef, #843ce0);
$primary-yellow: #ffa800;
$primary-orange: #f3501d;
$primary-purple: #7213eb;
$secondary-purple: #eb00ff;
$primary-blue: #391898;
$stroke-blue: #843ce0;
